## This file is part of Whonix.
## See the file COPYING for copying conditions.
## Modified for Whonix.

[Unit]
Description=Ram Adjusted Desktop Starter Early Boot
Documentation=https://www.whonix.org/wiki/RAM_Adjusted_Desktop_Starter
ConditionPathExists=/dev/tty0
Before=rads.service
Before=getty.target
Before=graphical.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /var/run/rads
ExecStart=/bin/touch /var/run/rads/rads-block-display-manger-startup.status
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
