## This file is part of Whonix.
## See the file COPYING for copying conditions.
## Modified for Whonix.

[Unit]
Description=Ram Adjusted Desktop Starter
Before=display-manager.service getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=serial-getty@ttyAMA0.service serial-getty@ttymxc0.service serial-getty@ttymxc3.service
ConditionPathExists = !/usr/lib/qubes-whonix

[Service]
Type=oneshot
ExecStart=/usr/lib/ram_adjusted_desktop_starter/ram_adjusted_desktop_starter
RemainAfterExit=yes
StandardOutput=tty

[Install]
WantedBy=multi-user.target
