## Copyright (C) 2012 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: rads
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), config-package-dev
Homepage: https://github.com/Kicksecure/rads
Vcs-Browser: https://github.com/Kicksecure/rads
Vcs-Git: https://github.com/Kicksecure/rads.git
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: rads
Architecture: all
Depends: systemd, ${misc:Depends}
Description: RAM Adjusted Desktop Starter
 If there is more than X MB RAM in total, the desktop environment will be
 started.
 .
 If less than X MB RAM in total (for example, only 196 MB RAM in total), no
 desktop environment will be started.
 .
 This should be quite convenient, because users with low RAM could reduce Y MB
 and even if they sometimes wanted to configure/check something, they could
 assign 512 RAM and automagically boot into the graphical desktop. There are
 also many settings in /etc/rads.d/ (stackable) to configure this feature, so
 if you want, you can also add a lot RAM, but not boot into a desktop
 environment, or use different display managers and so on.
 .
 Most useful in virtual machines.
