## See the file COPYING for copying conditions.
## Modified for Whonix.

[Unit]
Description=Ram Adjusted Desktop Starter
Documentation=https://www.whonix.org/wiki/RAM_Adjusted_Desktop_Starter
ConditionPathExists=/dev/tty0
Before=getty@tty1.service
After=rads-block-display-manger.service

[Service]
Type=oneshot
ExecStart=-/usr/libexec/rads/ram-adjusted-desktop-starter
ExecStartPost=/bin/rm --force /run/rads/rads-block-display-manger-startup.status
RemainAfterExit=yes
StandardOutput=journal+console

## This breaks 'rads_wait=0'.
## Sep 14 08:14:24 host systemd[488]: rads.service: Failed to set up standard input: Inappropriate ioctl for device
## Sep 14 08:14:24 host systemd[488]: rads.service: Failed at step STDIN spawning /usr/libexec/rads/ram-adjusted-desktop-starter: Inappropriate ioctl for device
#StandardInput=tty-force

[Install]
WantedBy=multi-user.target
